body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h2, h3, h4, h5, h6 {
	font-family: 'Arial', cursive;
}
header {
	background-color: #073350;
	color: white;
}

header img {
	padding: 0.5em;
	margin: 0;
}

a {
	color: #993333;
}

a:hover {
	text-decoration: none;
}

nav {
	background-color: #ccc;
	border-bottom: 2px solid black;
	padding: 1em;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
	padding-right: 1em;
}

nav a {
	color: #933;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	color: white;
}

.maincontent {
	clear: both;
}

main {
  display: flex;
}

.content-wrapper {
  width: 73%;
  float: left;
 	margin: 0 1%;
}

.side-navigation {
	width: 23%;
	margin: 0 1%;
	float: left;
}

.footer {
	background-color: #073350;
	color: white;
	padding: 2em;
	margin-top: 14em;
	border-top: 2px solid black;
	clear: both;
}